<a href="https://www.indiegogo.com/projects/{{slug}}"><img alt="{{title}} image" src="{{image_types.baseball_card}}"></a>
<h2 class="title">{{title}}</h2>
<p class="tagline">{{tagline}}</p>
<div class="progress-bar">
    <div class="progress"></div>
    <div class="left"></div>
</div>
<div class="percent-completed">{{percent_completed}}%</div>
